/************************
 * General markup rules *
 ************************/

a:link, a:visited {
 color: black;
 font-weight: bold;
 text-decoration: none;
}

a:hover {
 color: black;
 font-weight: bold;
 text-decoration: underline;
}

img {
 border: 0px;
}

/***********************
 * Header markup rules *
 ***********************/

table.header {
 background-color: #69c;
}

td.logo {
 color: #fff;
 font-weight: bold;
}

td.menu {
 color: #9cf;
}

a.menu_item:link, a.menu_item:visited {
 color: #fff;
 font-weight: bold;
 text-decoration: none;
}

a.menu_item:hover {
 color: #fff;
 font-weight: bold;
 text-decoration: underline;
}

/*********************
 * Body markup rules *
 *********************/

/**********************
 * ports markup rules *
 **********************/

table.category-list, table.ports-list, p.ports-entry {
 font-size: small;
}

tr.ports-list-header {
 font-style: italic;
}

a.category-list:link, a.category-list:visited, a.port-summary:link, a.port-summary:visited {
 color: black;
 font-weight: normal;
 text-decoration: underline;
}

a.category-list:hover, a.port-summary:hover {
 color: black;
 font-weight: normal;
 text-decoration: underline;
}

span.ports-entry-description {
 font-weight: bold;
}

/***********************
 * Footer markup rules *
 ***********************/

a.footer:link, a.footer:visited, a.copyright:link, a.copyright:visited {
 color: black;
 text-decoration: none;
 font-weight: normal
}

a.footer:hover, a.copyright:hover {
 color: black;
 font-weight: normal;
 text-decoration: underline;
}

p.copyright {
 font-size: x-small;
}
